.inertia.toml
.secrets
.kepler-secrets
.gradle/
.idea/
/out/
**.iml
/build/
/bin/
/tmp/
/cmake-build-debug/
.idea/workspace.xml
/*.jar
gradlew.bat
run.bat

/tools/db/schema.sql

config.ini
webserver-config.ini
locale.ini
game.ini
server.ini
log4j.properties

Kepler-Server-all.jar

server.log
error.log
.env
log4j.web.properties
server.web.log
error.web.log
Havana-Server/src/main/java/META-INF/MANIFEST.MF
Havana-Web/src/main/java/META-INF/MANIFEST.MF
Havana-Server/META-INF/MANIFEST.MF
