/*! Simple Sidebar - local housekeeping copy */
body { overflow-x: hidden; }
#wrapper { display: flex; width: 100%; align-items: stretch; }
#sidebar-wrapper { min-height: 100vh; margin-left: -15rem; transition: margin .25s ease-out; }
#sidebar-wrapper .sidebar-heading { padding: .875rem 1.25rem; font-size: 1.2rem; }
#sidebar-wrapper .list-group { width: 15rem; }
#page-content-wrapper { min-width: 100vw; }
#wrapper.toggled #sidebar-wrapper { margin-left: 0; }
@media (min-width: 768px) {
  #sidebar-wrapper { margin-left: 0; }
  #page-content-wrapper { min-width: 0; width: 100%; }
  #wrapper.toggled #sidebar-wrapper { margin-left: -15rem; }
}
